<div data-id="{{ TodoItem.id }}" class="todolist-item flex mb-[20px] ">
    <div class="group-info mr-[10px] ">
        <p class="title text-[16px] font-bold ">
            {{ TodoItem.name }}
        </p>
        <p class="descriptions text-[14px] text-gray-600 ">
            {{ TodoItem.descriptions }}
        </p>
    </div>
    <div class="group-checked shrink-0 mr-[10px] ">
        <p-checkbox />
    </div>
    <div class="group-action shrink-0 ">
        <p-button class="mr-[5px] " severity="warn"> Sửa </p-button>
        <p-button severity="danger"> Xoá </p-button>
    </div>
</div>
